@import "vars";


/*==========  Desktop First  ==========*/

@media (max-width: 1750px) {
	.offset-slider-outer {
		height: 500px;
	}
	.offset-slider {
		width: 700px;
		height: 475px;
	}
	.next-slide {
		width: 360px;
		height: 250px;
	}
}

@media (max-width: 1550px) {
	.offset-slider-outer {
		height: auto;
	}
	.offset-slider {
		position: relative;
		right: 0;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		.slick-next, .slick-prev {
			display: none!important;
		}
	}
	.next-slide {
		display: none;
	}
}

// ≥1200px
@include media-breakpoint-down(lg) {
	.gallery-row {
		margin-bottom: 0;
	}
	.gallery-item {
		flex-direction: row;
		margin-bottom: 30px;
	}
	.gallery-item__image {
		width: 250px;
		height: 225px;
		flex-shrink: 0;
		margin: 0;
	}
	.gallery-item__content {
		padding: 25px 30px;
		height: auto;
	}
	.gallery-item__link {
		justify-content: flex-start;
	}
	
}

// ≥992px
@include media-breakpoint-down(md) {
	.header-transparent {
		font-size: 120px;
	}
	.transparent-subhead__header {
		font-size: 70px;
	}
	.section-map {
		text-align: center;
	}
	.contact-text-wrap {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.vk-link {
		margin-right: 0;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.section-main-bg {
		min-height: auto;
		padding-bottom: 45px;
	}
	.header-right {
		display: none;
	}
	.header_footer {
		.header-right {
			display: block;
			margin: auto;
			margin-top: 20px;
		}
	}
}

// ≥768px
@include media-breakpoint-down(sm) {
	.gallery-item {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__image {
			max-width: 320px;
			width: 100%!important;
		}
	}
	.single-review {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.section-map-inset {
		position: static;
		transform: none;
	}
	.section-padding-bottom-map {
		padding-bottom: 60px;
	}
	.cool-header {
		font-size: 48px;
		&_medium {
			font-size: 72px;
		}
	}
	.header-transparent {
		font-size: 70px;
		letter-spacing: 8px;
	}
	.transparent-subhead {
		margin-bottom: 40px;
	}
	.transparent-subhead__header {
		font-size: 50px;
		line-height: 50px;
	}
	.section-main-bg {
		.button {
			margin-top: 30px;
		}
	}
	.cool-header {
		&_big {
			font-size: 120px;
		}
	}
	.wrapper-menu {
		display: flex;
		margin: auto;
	}
	.header_footer {
		.main-nav ul {
			display: block;
			margin: auto;
			margin-top: 20px;
		}
	}
	.main-nav {
		margin-bottom: 0;
		margin-top: 15px;
		width: 100%;
		font-size: 18px;
		flex-direction: column;
		justify-content: center;
		> ul {
			margin-top: 15px;
			display: none;
			&.open {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
			}
		}
		ul {
			flex-direction: column;
			align-items: center;
			width: 100%;
			> li {
				display: block;
				&.menu-item-has-children {
					> a::after {
						content: '';
						display: inline-block;
						width: 13px;
						height: 15px;
						background-image: url('../img/icons/play-symbol-white.svg');
						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;
						transform: rotate(90deg);
						margin-left: 8px;
					}
				}

				> a {
					width: 100%;
					justify-content: center;
				}
				>.sub-menu {
					display: flex;
					position: static;
					min-width: auto;
					background-color: transparent;
					box-shadow: none;
					padding: 0;
					border-bottom: 1px solid $yellow;
					margin-bottom: 5px;
					>li {
						>a {
							padding-bottom: 2px;
							padding-top: 5px;
							margin-bottom: 5px;
							color: #fff;
						}
					}
				}
			}
		}
	}
	.header {
		.container {
			justify-content: center;
		}
	}

}

// ≥576px
@include media-breakpoint-down(xs) {
	.gallery-item__content {
		padding-right: 0!important;
		padding-left: 0!important;
	}
	.transparent-subhead {
		text-align: center;
		.header-transparent {
			display: none;
		}
		&__header {
			position: static;
			transform: none
		}
	}


}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}

@media (min-width: 2050px) {
	.section-features:before {
		display: none;
	}
}